*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    align-items: center;
     border-bottom: 1px solid #b6b1b1;
}
.myntrahome{
    height: 45px;
    width: 53px;
    
}
.logocontainer{
    margin-left: 4%;
}
.actionbar{
    margin-right: 4%;
}
.navbar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
.navbar a{
    font-size: 14px;
    letter-spacing: 3px;
    color: #282c3f;
    font-weight: 600;
    font-style: bold;
    
padding:30px 0;
    text-decoration: none;
    box-sizing: content-box;

}
.navbar a:hover{
    border-bottom: 4px solid #f54e77;
}
.navbar a sup{
    font-size: 10px;
    color: #ff3f6c;
}
.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;

    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*main section*/
.banner_container{
    margin: 40px 0;
}
.banner_image{
    width:100% ;
    
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .14mm;
    font-size: 0.6cm;
    margin: 50px 0 10px 30px;
    max-height: 5cm;
    font-weight: 700;
}
.category_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item{
    width: 250px;


}
.footer_container{
   padding:30px 0px 40px 0px;
   background: #FAFBFC; 
   display: flex;
   justify-content: space-evenly;

}
.footer_column{
    display: flex;
   flex-direction:  column;
}
.footer_column a{
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
  
}
.other_container h3{
    margin: 14px 0 7px 0;
}
.other_container{
    color:#696b79;
    font-size: 14px;
    justify-content: space-evenly;
    
}
.made_by{
    color:#696b79;
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 2cm;
}


